extends base

block content
  td(style='display: block; margin-top: 3rem;')
    table
      tr
        td
          p Hello #{name},
  td(style='display: block;')
    table
      tr
        td(style='display: block;')
          p Welcome to our website! Thanks for joining