.main {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 3.5rem;
	font-size: 1.8rem;
}

.links {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 300px;

	a {
		color: dodgerblue;

		&:hover {
			color: white;
		}
	}
}
